.navbar {
    width: 100%;
    height: 70px;
    padding: 0 40px;
    background: white;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #f0f0f0;
}

.logoArea {
    display: flex;
    align-items: center;
    gap: 20px;
    text-decoration: none;
}

.logoCircle {
    width: 40px;
    height: 40px;
    /* background: rgba(0, 0, 0, 0.10); */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.2s;
}

.logoCircle:hover {
    background: rgba(0, 0, 0, 0.15);
}

.logoText {
    color: black;
    font-size: 24px;
    font-family: var(--font-roboto);
    font-weight: 500;
}

.navLinks {
    display: flex;
    align-items: center;
    gap: 40px;
}

.navLink {
    color: black;
    font-size: 16px;
    font-family: var(--font-roboto);
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
}

.navLink:hover {
    color: #666;
}

.searchBar {
    width: 200px;
    padding: 8px 12px;
    border-radius: 6px;
    border: 1px rgba(0, 0, 0, 0.10) solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.searchText {
    color: rgba(0, 0, 0, 0.50);
    font-size: 14px;
}

.searchIcon {
    width: 20px;
    height: 20px;
    background: rgba(0, 0, 0, 0.7);
}